.layout-nav {
  display: flex;
  padding: 15px;
  gap: 40px;
  justify-content: center;
  border-bottom: 1px solid #ccc;
  font-size: 22px;
}

.layout-nav-link {
  text-decoration: none;
  color: black;
  font-weight: 600;
}

.layout-nav-link:hover {
  color: #0070f3;
}
